---
import BottomNav from "../components/BottomNav.astro";
import DesktopNav from "../components/DesktopNav.astro";
import "../styles/global.css";

const {
  title = "Farnosť Stará Sásová",
  description = "Oficiálna stránka farnosti Banská Bystrica – Stará Sásová. Farské oznamy, sväté omše, sviatosti a aktuálne informácie."
} = Astro.props;
---

<html lang="sk">
  <head>
    <meta charset="utf-8" />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
    />

    <title>{title}</title>

    <meta
      name="description"
      content={description}
    />

    <meta
      name="robots"
      content="index, follow"
    />

    <meta
      name="theme-color"
      content="#166534"
    />

    <!-- Open Graph -->
    <meta
      property="og:title"
      content={title}
    />

    <meta
      property="og:description"
      content={description}
    />

    <meta
      property="og:type"
      content="website"
    />

    <meta
      property="og:locale"
      content="sk_SK"
    />

    <meta
      property="og:site_name"
      content="Farnosť Stará Sásová"
    />

    <meta
      property="og:image"
      content="/og-image.jpg"
    />

    <!-- Twitter -->
    <meta
      name="twitter:card"
      content="summary_large_image"
    />

    <meta
      name="twitter:title"
      content={title}
    />

    <meta
      name="twitter:description"
      content={description}
    />

    <meta
      name="twitter:image"
      content="/og-image.jpg"
    />

    <!-- Favicons
    <link rel="icon" href="/favicon.ico" /> 
    
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    -->
    <link rel="icon" href="/favicon.png" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

    <link rel="manifest" href="/manifest.webmanifest" />

  </head>

  <body class="m-0 bg-gray-100 text-gray-900">
    <DesktopNav />

    <div class="flex min-h-screen justify-center">
      <div class="w-full max-w-md lg:max-w-5xl bg-white">
        <div class="pb-20 md:pb-2">
          <slot />

          <footer class="site-footer">
            © {new Date().getFullYear()}
            <a href="mailto:p.reguli@gmail.com">
              Peter Reguli
            </a>
          </footer>

        </div>
      </div>
    </div>



    <script>
  if ('serviceWorker' in navigator) {
    navigator.serviceWorker.register('/sw.js');
  }
</script>

    <BottomNav />
  </body>
</html>
